body{
    margin: 0;
    background: url("backgrounds/colors.jpg");
}
.mains{
    padding: 3em 0 3em 6.5em;
    margin: 0;
}
.main{
    padding: 0.5em 0.5em 0.5em 0.5em;
    height: 30em;
    width: 80.8em;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.521);
}
.sub{
    text-align: center;
}
#color{
    padding: 2.5em 0 0 0;
}
::placeholder{
    color: black;
}
:-ms-input-placeholder {
    color: black;
}
::-ms-input-placeholder {
    color: black;
}
.ans{
    border-bottom-style: solid;
    border-top-style: hidden;
    background-color: transparent;
    border-right-style: hidden;
    font-family: cursive;
    border-left-style: hidden;
    padding: 0.4em 0.4em 0.4em 0.4em;
    font-size: 0.89em;
}
.ans:focus{
    background-color: rgb(211, 211, 211);
}
#name{
    -webkit-text-stroke-color:black;
    font-style: italic;
    -webkit-text-stroke-width: 1mm;
    font-family: 'Times New Roman';
    font-size: 14em;
    text-shadow: 0 0 8px black;
}
.btn{
    border-style: hidden;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(27, 95, 185);
    text-align: center;
    border-radius: 0.7em;
    padding: 0.7em 0.7em 0.7em 0.7em;
    cursor: pointer;
    color:white;
}
.btn:hover{
   background-color: rgb(19, 77, 153);
}
.btn:active{
    box-shadow: 0 0 8px rgb(25, 47, 80);
 }
