.help {
    margin: 2em 0 0 90em;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.781);
}
.help .txt{
    visibility: hidden;
    width: 2in;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 1em;
    padding: 0.1cm 0.1cm 0.1cm 0.1cm;
    position: absolute;
    z-index: 1;
}
.help:hover .txt{
    visibility: visible;
    box-shadow: 0 0 8px black;
}
footer{
    background-color: black;
    padding: 0.6em 0 0 0;
    color: white;
    height: 7.5em;
    width: 96em;
}
footer img {
    width: 2em;
    height: 2em;
    cursor: pointer;
}
.th{
    text-align: center;
    margin: auto;
    display: inline-block;
    padding: 2em 8.5em 0 8.5em ;
}
